.a1{
line-height:200px;
text-align:center;
height:200px;
background-color:red;
}
.a2{
margin:0 auto;
width:200px;
text-align:center;
background-color:yellow;
}
.parent{
 margin:0 auto;
 width:200px;
 height:200px;
 background-color:red;
}
.children {
 width: 100px;
 height: 100px;
 padding: 50px;
 background-color: black;
 background-clip:content-box;/*居中的关键*/
}
#ex3_container{
margin:0 auto;
width:200px;
height:200px;
background-color:yellow;
position:relative;
}
#ex3_content{
margin:0 auto;
left:50%; top:50%; 
transform:translate(-50%,-50%);
-webkit-transform:translate(-50%,-50%);
background-color:gray; color:white; position:absolute;
}